#canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}
body {
    margin: 0;
}
button{
    cursor: pointer;
}





.unmute, .stop {
    display: block;
    position: absolute;
    bottom: 80px;
    left:-5px;
    font-size: 18px;
    color: #CC3B33;
}

.main__videos {
    display: block;
    position: absolute;
    background-color:#FFFFFF;
    top:0px;
    left:-5px;
    transform: rotateY(180deg);
}

button {
    padding-left: 10px;
    display: block;
    transform: rotateY(180deg) !important;
}